USE [master]
GO
/****** Object:  Database [RequestFormSQL]    Script Date: 11/15/2016 7:03:47 PM ******/
CREATE DATABASE [RequestFormSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RequestFormSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER01\MSSQL\DATA\RequestFormSQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RequestFormSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER01\MSSQL\DATA\RequestFormSQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RequestFormSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RequestFormSQL]
GO
USE [RequestFormSQL]
GO
/****** Object:  User [brmagr]    Script Date: 11/15/2016 7:03:48 PM ******/
CREATE USER [brmagr] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bmg]    Script Date: 11/15/2016 7:03:48 PM ******/
CREATE USER [bmg] FOR LOGIN [bmg] WITH DEFAULT_SCHEMA=[bmg]
GO
/****** Object:  User [bg]    Script Date: 11/15/2016 7:03:48 PM ******/
CREATE USER [bg] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[bg]
GO
ALTER ROLE [db_owner] ADD MEMBER [brmagr]
GO
ALTER ROLE [db_owner] ADD MEMBER [bmg]
GO
ALTER ROLE [db_owner] ADD MEMBER [bg]
GO
/****** Object:  Schema [bg]    Script Date: 11/15/2016 7:03:48 PM ******/
CREATE SCHEMA [bg]
GO
/****** Object:  Schema [bmg]    Script Date: 11/15/2016 7:03:48 PM ******/
CREATE SCHEMA [bmg]
GO
/****** Object:  Table [dbo].[FormApp]    Script Date: 11/15/2016 7:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormApp](
	[Title_id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nchar](100) NULL,
	[Client] [nchar](10) NULL,
	[ClientPriority] [int] NULL,
	[TargetDate] [date] NULL,
	[ProductArea] [nchar](100) NULL,
 CONSTRAINT [PK_RequestFormApp] PRIMARY KEY CLUSTERED 
(
	[Title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
